@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #D5E1EF;
}

.container {
	position: absolute;
	top: 450px;
	left: 1200px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	height: 500px;
	width: 310px
}

.container img {
	height: 305px;
	width: 310px;
	border-radius: 10px;
}

.container h2 {
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color: #283953;
	font-family: 'Outfit', sans-serif;
}

.container p {
	text-align: center;
	font-size: 17px;
	color: #ACB0BB;
	font-weight: 400;
	font-family: 'Outfit', sans-serif;
}

.attribution {
	position: absolute;
	top: 1050px;
	left: 1170px
}